@charset "utf-8";
/* 공통 스타일 */

html, body{margin: 0; padding: 0;}
header, section, article, nav, aside, footer{margin: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.menu {
  width: 800px;
  height: 124px;
  background-color: #fcc;
}
.menu ul {
  padding: 50px;
}
.menu ul:after {
  content: "";
  display: block;
  clear: both;
}
.menu ul li {
  float: left;
  margin: 0 20px;
  background-color: #faf;
}
.menu ul li a {
  color: #555;
  font-size: 18px;
  font-weight: bold;
}