@charset "utf-8";
/* 공통 스타일 */

html, body{margin: 0; padding: 0;}
header, section, article, nav, aside, footer{margin: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.menu {
  width: 240px; 
  background-color: #363636;
}

.menu ul {
  padding: 0 10px; 
  margin: 0; 
}

.menu ul li {
  width: 240px; 
  height: 40px; 
  line-height: 40px; 
  border-bottom: 1px solid #fff;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px; 
}

.menu ul li a:hover {
  color: #555;
}